<!DOCTYPE html>
<html>
<head>
    <title>NASA Image of the Day</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="title-bar">
        <h1>NASA Image of the Day</h1>
    </div>
    <form method="POST" action="/">
        <input type="date" name="date" required>
        <button type="submit">Submit</button>
    </form>
    <div class="image-container">
        <div class="floating-photo">
            {% if image_url %}
                <img src="{{ https://api.nasa.gov/planetary/apod?api_key={api_key} }}" alt="NASA Image of the Day">
            {% endif %}
        </div>
        {% if image_url %}
            <img src="{{ https://api.nasa.gov/planetary/apod?api_key={api_key} }}" alt="NASA Image of the Day" class="today-photo">
        {% endif %}
    </div>
</body>
</html>
