<!DOCTYPE html>
<html>

<head>
    <title>NASA Image of the Day</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="title-bar">
        <h1>NASA Image of the Day</h1>
    </div>
    <form method="POST" action="/">
        <input type="date" name="date" required>
        <button type="submit" class="button-64" role="button"><span class="text">Submit</span></button>
    </form>
    <div class="image-container">
        <div class="floating-photo">
            <img src="{{ today_image_url }}" alt="NASA Image of the Day">
        </div>
    </div>
    {% if image_url %}
    <div class="center-photo">
        <img src="{{ image_url }}" alt="NASA Image of the Day" class="today-photo">
    </div>
    {% endif %}
</body>

</html>